.LoginContainer {
  display: flex;
  justify-content: center;
  background-color: slategray;
}

.MainContainer {
  background-color: beige;
  border: solid 2px red;
}

.Game {
  background-color: aliceblue;
}

.Questions {
  background-color: cornsilk;
}