html{
  /* background-color: orange; */
  background: url(https://wallpaper.dog/large/20485383.jpg) ;
  background-size: cover;
}

.LoginContainer {
  display: flex;
  justify-content: center;
}

.loginContent, .createUserContent {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(82, 82, 192), slategray);
  padding: 2%;
  margin-top: 12%;
  border-radius: 5px;
}

#loginForm, #createUserForm {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}

input {
}

.MainContainer {
  background-color: beige;
  border: solid 2px red;
}

.Game {
  background-color: aliceblue;
}

.Questions {
  background-color: cornsilk;
}